*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#eef5ff;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    overflow-x:hidden;
}

.container{
    position:relative;
    width:100%;
    max-width:430px;
}

.convite{
    width:100%;
    display:block;
}

#avatar{

    position:absolute;

    width:170px;

    right:10px;

    top:210px;

    transform-origin:center bottom;

    animation: respirar 3s infinite ease-in-out;
}

.falando{

    animation:
    respirar .8s infinite ease-in-out,
    balancar .4s infinite alternate;
}

@keyframes respirar{

    0%{
        transform:translateY(0px) scale(1);
    }

    50%{
        transform:translateY(-4px) scale(1.02);
    }

    100%{
        transform:translateY(0px) scale(1);
    }
}

@keyframes balancar{

    from{
        transform:rotate(-2deg);
    }

    to{
        transform:rotate(2deg);
    }
}

#btnOuvir{

    position:fixed;

    bottom:20px;
    right:20px;

    border:none;

    border-radius:50px;

    background:#4c8cff;

    color:white;

    padding:15px 20px;

    cursor:pointer;

    font-size:16px;

    z-index:999;
}

#contador{

    position:fixed;

    top:20px;

    left:50%;

    transform:translateX(-50%);

    background:white;

    padding:10px 20px;

    border-radius:30px;

    font-weight:bold;

    z-index:999;
}

.confirmar{

    position:absolute;

    width:290px;

    height:75px;

    left:50px;

    bottom:15px;

    z-index:50;
}
